<!-- Bottom Nav -->
    <footer>
      <nav class="navbar fixed-bottom navbar-light bg-dark">
        <div class="container-fluid">
          <h6 class="display-10 navbar-text" style="color: gray">&copy; Copyright 2021. All Rights reserved.</h6>
        </div>
      </nav>
     </footer>